<!-- Portfolio -->
<section class="blog">
    <div class="container">
	<div class="row">     

	    <div class="col-md-9"> 

		<ul class="blog-standard">

	            {% for post in paginator.posts %}
		    <li> 
			<div class="side-details">
			    <div class="post-date">
				    <h4 class="month">{{ post.mois }}</h4>
				    <h3 class="day">{{ post.jour }}</h3>
				    <span class="year">{{ post.annee }}</span>
			    </div>
			</div>
			<div class="post-content">
			    <a href="blog-post-carousel.html"><img src="img/blog/1.jpg" class="img-responsive width100" alt="#"></a>
			    <div class="post-text">
				<a class="link-to-post" href="blog-post-carousel.html"><h4>Awesome Standard Post</h4></a>
				<p class="blog-post-categories">
				    <span><i class="ion-ios-pricetags-outline"></i></span>
				    <a href="blog-standard.html#">Lifestyle</a> 
				    <span>,</span>
				    <a href="blog-standard.html#">Travel</a>  
				</p> 
				<p>{{ post.content }}<p>
			    </div> 
			    <a class="read-more-link btn-appear" href="blog-post-carousel.html"><span>Read More <i class="ion-android-arrow-forward"></i></span></a>   
			</div> 
		    </li>
                {% endfor %}

		</ul> 

		<!-- Pagination -->
		<div class="col-md-12 text-center"> 
		    <ul class="blog-pagination">
			<li>
			    <a href="blog-standard.html#">
				<i class="ion-android-arrow-back"></i>
			    </a>
			</li>
			<li class="active">
			    <a href="blog-standard.html#">1</a>
			</li>
			<li>
			    <a href="blog-standard.html#">2</a>
			</li>
			<li>
			    <a href="blog-standard.html#">3</a>
			</li>
			<li>
			    <a href="blog-standard.html#">4</a>
			</li>
			<li>
			    <a href="blog-standard.html#">5</a>
			</li>
			<li>
			    <a href="blog-standard.html#">
				<i class="ion-android-arrow-forward"></i>
			    </a>
			</li>
		    </ul> 
		</div>
		<!-- End Pagination -->

	    </div>

	    <!-- Sidebar -->
	    <div class="col-md-3 sidebar"> 

		<div class="blog-widget">
		    <h5>About</h5>
		    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat.</p>
		</div>  

		<div class="blog-widget">
		    <h5>Categories</h5>
		    <ul class="category-list list-icons">
			<li><a href="blog-standard.html#"><i class="ion-ios-arrow-right"></i>Travel</a></li>
			<li><a href="blog-standard.html#"><i class="ion-ios-arrow-right"></i>Lifestyle</a></li>
			<li><a href="blog-standard.html#"><i class="ion-ios-arrow-right"></i>Wander</a></li>  
			<li><a href="blog-standard.html#"><i class="ion-ios-arrow-right"></i>Graphics</a></li>
			<li><a href="blog-standard.html#"><i class="ion-ios-arrow-right"></i>Other Bits</a></li>
		    </ul> 
		</div> 

		<div class="blog-widget blog-tags">
		    <h5>Tags</h5>
		    <ul class="tags-list">
			<li><a href="blog-standard.html#">Design</a></li>
			<li><a href="blog-standard.html#">Photography</a></li>
			<li><a href="blog-standard.html#">Branding</a></li> 
			<li><a href="blog-standard.html#">Videos</a></li>
			<li><a href="blog-standard.html#">Web Design</a></li>      
			<li><a href="blog-standard.html#">Apps</a></li>
			<li><a href="blog-standard.html#">Development</a></li> 
		    </ul>
		</div> 

		<div class="blog-widget">
		    <h5>Archives</h5>
		    <ul class="category-list list-icons">
			<li><a href="blog-standard.html#"><i class="ion-ios-arrow-right"></i>April 2016</a></li>
			<li><a href="blog-standard.html#"><i class="ion-ios-arrow-right"></i>March 2016</a></li>
			<li><a href="blog-standard.html#"><i class="ion-ios-arrow-right"></i>February 2016</a></li> 
			<li><a href="blog-standard.html#"><i class="ion-ios-arrow-right"></i>January 2016</a></li>
			<li><a href="blog-standard.html#"><i class="ion-ios-arrow-right"></i>December 2015</a></li>
		    </ul> 
		</div>

		<div class="sidebar-share"> 
		    <ul class="list-inline">
			<li><a href="blog-standard.html#"><i class="ti-twitter-alt"></i></a></li>
			<li><a href="blog-standard.html#"><i class="ti-facebook"></i></a></li>
			<li><a href="blog-standard.html#"><i class="ti-linkedin"></i></a></li>
			<li><a href="blog-standard.html#"><i class="ti-pinterest-alt"></i></a></li> 
			<li><a href="blog-standard.html#"><i class="ti-google"></i></a></li> 
		    </ul>
		</div>    


	    </div>
	    <!-- End Sidebar -->  

	</div>
    </div>
</section>            
<!-- End Portfolio -->   

