<!-- Footer One -->
<footer id="footer-1">

    <div class="footer-columns">
	<div class="container">
	    <div class="row">

		<div class="col-md-3">
		    <h4 class="subheading">About Us</h4>
		    <p>We are a digital studio offering a variety of solutions in product development, mobile and visual design. Nam metus, tellus id pellentesque feugiat, sem sem cursus orci, a placerat ante ante nec massa. Nam molestie, tellus id pellentesque feugiat.</p> 
		</div>

		<div class="col-md-3">
		    <h4 class="subheading">Recent Posts</h4>
		    <ul class="footer-recent-posts">
			<li><a href="blog-post-carousel.html">Branding Inspiration From Wander</a><span class="recent-post-date">June 4, 2015</span></li>
			<li><a href="blog-post-video.html">Final Kickstarter Week - Vote for Cover</a><span class="recent-post-date">June 4, 2015</span></li>
			<li><a href="blog-grid.html">Awesome Guide to Perfect Posts</a><span class="recent-post-date">June 4, 2015</span></li>
		    </ul>
		</div>

		<div class="col-md-3">
		    <h4 class="subheading">Latest Tweets</h4>  
		    <div id="twitter-feed" data-twitter-widget-id="455427632419442688"></div> 
		</div>

		<div class="col-md-3">
		    <h4 class="subheading">Instagram</h4>
		    <div id="instagram-feed" data-instagram-username="vossen_inc"><ul></ul></div>
		</div>

	    </div>
	</div>  
    </div>

    <div class="footer-copyright">
	<div class="container">
	    <div class="row">

		<div class="col-md-6 col-sm-12">
		    <p>© 2016 <a href="index.html" class="logo">Vossen</a> All Rights Reserved. </p>
		</div>
		<div class="col-md-6 col-sm-12">
		    <ul class="social-icons">
			<li><a href="index.html#"><i class="icon ion-social-facebook"></i></a></li>
			<li><a href="index.html#"><i class="icon ion-social-twitter"></i></a></li> 	 
			<li><a href="index.html#"><i class="icon ion-social-pinterest"></i></a></li>  
			<li><a href="index.html#"><i class="icon ion-social-linkedin"></i></a></li>   
			<li><a href="index.html#"><i class="icon ion-social-youtube"></i></a></li>
		    </ul>
		</div>
	    </div>
	</div>
    </div>

</footer>
<!-- End Footer One -->

<!-- Start Back To Top -->
<a id="back-to-top"><i class="icon ion-chevron-up"></i></a>
<!-- End Back To Top --> 

<!-- Scripts -->
<script src="js/jquery.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/scripts.js"></script>


