        <!-- Hero -->
        <section class="hero-fullscreen parallax overlay bg-img-1">   
            <div class="hero-container container">  
                <div class="hero-content text-center">   
                    
                    <div class="col-sm-12 mr-auto white text-center pt20">   
                        <p class="subheading">We Set You Apart To Grow Online</p> 
                        <h1 class="large">Let us help you build &amp; brand<br>your success online.</h1>     
                        <p class="mt20 hidden-xs">We create experiences that transform brands, grow businesses and make<br>people’s lives better. We are dedicated to your success!</p>
                        <a href="index.html#features" class="btn btn-lg btn-primary btn-circle btn-scroll mt40">We're Creative</a>  
                    </div> 
                    <a href="index.html#features" class="scroll-btn"><i class="ion-chevron-down"></i></a>
                    
                </div>
            </div>    
        </section>
        <!-- End Hero -->       
             
        <!-- Features -->  
        <section id="features" class="pt130 pb110">
            <div class="container">                      
                <div class="row">    

                    <div class="col-md-8 section-heading pb0">   
                        <h2>We Are Wander</h2>
                        <hr class="separator"> 
                    </div> 

                    <div class="col-md-10 mr-auto text-center">   
                        <div class="icon-tabs-centered">

                            <ul id="iconTabs" class="nav nav-tabs nav-tabs-center">
                                <li class="active"><a href="index.html#tab-i1" data-toggle="tab"><span class="icon-tab ion-ios-flask-outline"></span><span>Experiences</span></a></li>
                                <li class=""><a href="index.html#tab-i2" data-toggle="tab"><span class="icon-tab ion-ios-bolt-outline"></span><span>Capabilities</span></a></li>
                                <li class=""><a href="index.html#tab-i3" data-toggle="tab"><span class="icon-tab ion-ios-infinite-outline"></span><span>Our Strategy</span></a></li>
                                <li class=""><a href="index.html#tab-i4" data-toggle="tab"><span class="icon-tab ion-ios-mic-outline"></span><span>Our Mission</span></a></li>
                            </ul>

                            <div id="myTabContent" class="tab-content">

                                <div class="tab-pane fade active in" id="tab-i1">   
                                    <p>Wander helps traditional organizations navigate and find success in the digital world. We evaluate existing customer interactions, performance metrics, data and capabilities to create a strategy for the new experience a company wishes to provide its customers. All customer touchpoints,<br>from digital to in-store to phone, are considered.</p>
                                </div> 
                                <div class="tab-pane fade" id="tab-i2"> 
                                    <p>We partner with clients to determine where and how to compete by rapidly immersing into an industry or problem space and facilitating a series of workshops to identify opportunities, generate and prioritize ideas, and prototype and test product and service concepts.<br>We determine an optimal mix of revenue models.</p> 
                                </div> 
                                <div class="tab-pane fade" id="tab-i3"> 
                                    <p>Sed scelerisque urna id scelerisque tincidunt. Sed scelerisque laoreet dolor sed aliquam. Duis at eros vehicula, sollicitudin magna elementum, pretium diam. Vivamus bibendum fringilla mauris et rhoncus. Phasellus mattis egestas risus ac tempor. Fusce faucibus tincidunt nulla, scelerisque urna id scelerisque tincidunt sagittis magna venenatis quis.</p>
                                </div> 
                                <div class="tab-pane fade" id="tab-i4"> 
                                    <p>Sed scelerisque urna id scelerisque tincidunt. Sed scelerisque laoreet dolor sed aliquam. Duis at eros vehicula, sollicitudin magna elementum, pretium diam. Vivamus bibendum fringilla mauris et rhoncus. Sed scelerisque urna id scelerisque tincidunt. Phasellus mattis egestas risus ac tempor. Nam dapibus sodales ornare.</p>
                                </div>

                            </div>

                        </div> 
                    </div> 

                </div>
            </div>
        </section>
        <!-- End Features -->    

        <!-- About -->
        <section class="bg-grey"> 
            <div class="container pt40 pb40">   
                <div class="vertical-align">

                    <div class="col-md-6 text-left pr30 mt40 mb40">   
                        <h2>About Us</h2>   
                        <p>Fusce faucibus tincidunt nulla, tincidunt sagittis magna venenatis quis. Proin commodo eu ipsum eu suscipit. In dapibus arcu sit amet imperdiet. Praesent condimentum nulla at mauris ornare. Praesent condimentum nulla at mauris ornare, eget consequat felis euismod. Praesent condimentum nulla at mauris ornare.</p>
                        <p>Praesent condimentum nulla at mauris ornare, eget consequat felis euismod. Praesent condimentum nulla at mauris ornare. Fusce faucibus tincidunt nulla, tincidunt sagittis magna venenatis quis. Proin commodo eu ipsum eu suscipit.</p> 
                    </div>

                    <div class="col-md-6  mt50 mb50">  
                        <div class="video-container">
                            <iframe src="http://player.vimeo.com/video/115919099?title=0&amp;byline=0&amp;portrait=0&amp;color=fff" allowfullscreen></iframe>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- End About -->

        <!-- Team -->
        <section class="pt130 pb120"> 
            <div class="container">    
                <div class="row">      

                    <div class="col-md-12 section-heading">
                        <h2>Our Team</h2>
                        <hr class="separator">
                        <p>We create experiences that transform brands, grow businesses and make clients happy.<br> Working on big challenges in honest collaboration with our clients.</p> 
                    </div>  
                    
                    <div class="team-slider owl-carousel dark-pagination"> 
                        <div class="team"> 
                            <div class="team-container">
                                <div class="team-image">
                                    <img src="img/team/1.jpg" class="img-responsive" alt="#" />
                                </div> 
                                <div class="team-caption">
                                    <div>
                                        <div>
                                            <h4>John Westbrook</h4>
                                            <p>Senior Web Developer</p>
                                            <ul> 
                                                <li class="social-icon"><a href="index.html#"><i class="ion-social-facebook"></i></a></li>
                                                <li class="social-icon"><a href="index.html#"><i class="ion-social-twitter"></i></a></li>
                                                <li class="social-icon"><a href="index.html#"><i class="ion-social-youtube"></i></a></li> 
                                            </ul> 
                                        </div>
                                    </div>
                                </div>  
                            </div> 
                        </div>          
                        <div class="team">
                            <div class="team-container">
                                <div class="team-image">
                                    <img src="img/team/2.jpg" class="img-responsive" alt="#" />
                                </div> 
                                <div class="team-caption">
                                    <div>
                                        <div>
                                            <h4>Kelly Swanson</h4>
                                            <p>Marketing Manager</p>
                                            <ul> 
                                                <li class="social-icon"><a href="index.html#"><i class="ion-social-facebook"></i></a></li>
                                                <li class="social-icon"><a href="index.html#"><i class="ion-social-twitter"></i></a></li>
                                                <li class="social-icon"><a href="index.html#"><i class="ion-social-youtube"></i></a></li> 
                                                <li class="social-icon"><a href="index.html#"><i class="ion-social-linkedin"></i></a></li>
                                            </ul> 
                                        </div>
                                    </div>
                                </div>  
                            </div>    
                        </div>  
                        <div class="team">
                            <div class="team-container">
                                <div class="team-image">
                                    <img src="img/team/3.jpg" class="img-responsive" alt="#" />
                                </div> 
                                <div class="team-caption">
                                    <div>
                                        <div>
                                            <h4>Chris Holland</h4>
                                            <p>Motion Graphics</p>
                                            <ul> 
                                                <li class="social-icon"><a href="index.html#"><i class="ion-social-facebook"></i></a></li>
                                                <li class="social-icon"><a href="index.html#"><i class="ion-social-twitter"></i></a></li>
                                                <li class="social-icon"><a href="index.html#"><i class="ion-social-youtube"></i></a></li>
                                                <li class="social-icon"><a href="index.html#"><i class="ion-social-dribbble"></i></a></li>
                                                <li class="social-icon"><a href="index.html#"><i class="ion-social-linkedin"></i></a></li>
                                            </ul> 
                                        </div>
                                    </div>
                                </div>  
                            </div>  
                        </div> 
                        <div class="team"> 
                            <div class="team-container">
                                <div class="team-image">
                                    <img src="img/team/4.jpg" class="img-responsive" alt="#" />
                                </div> 
                                <div class="team-caption">
                                    <div>
                                        <div>
                                            <h4>Dave Harper</h4>
                                            <p>Lead Designer</p>
                                            <ul> 
                                                <li class="social-icon"><a href="index.html#"><i class="ion-social-facebook"></i></a></li>
                                                <li class="social-icon"><a href="index.html#"><i class="ion-social-twitter"></i></a></li>
                                                <li class="social-icon"><a href="index.html#"><i class="ion-social-youtube"></i></a></li> 
                                            </ul> 
                                        </div>
                                    </div>
                                </div>  
                            </div> 
                        </div>          
                        <div class="team">
                            <div class="team-container">
                                <div class="team-image">
                                    <img src="img/team/5.jpg" class="img-responsive" alt="#" />
                                </div> 
                                <div class="team-caption">
                                    <div>
                                        <div>
                                            <h4>Tracey Mathis</h4>
                                            <p>Graphic Designer</p>
                                            <ul> 
                                                <li class="social-icon"><a href="index.html#"><i class="ion-social-facebook"></i></a></li>
                                                <li class="social-icon"><a href="index.html#"><i class="ion-social-twitter"></i></a></li>
                                                <li class="social-icon"><a href="index.html#"><i class="ion-social-youtube"></i></a></li> 
                                                <li class="social-icon"><a href="index.html#"><i class="ion-social-linkedin"></i></a></li>
                                            </ul> 
                                        </div>
                                    </div>
                                </div>  
                            </div>    
                        </div> 
                        <div class="team">
                            <div class="team-container">
                                <div class="team-image">
                                    <img src="img/team/6.jpg" class="img-responsive" alt="#" />
                                </div> 
                                <div class="team-caption">
                                    <div>
                                        <div>
                                            <h4>William Beck</h4>
                                            <p>Web Developer</p>
                                            <ul> 
                                                <li class="social-icon"><a href="index.html#"><i class="ion-social-facebook"></i></a></li>
                                                <li class="social-icon"><a href="index.html#"><i class="ion-social-twitter"></i></a></li>
                                                <li class="social-icon"><a href="index.html#"><i class="ion-social-youtube"></i></a></li>
                                                <li class="social-icon"><a href="index.html#"><i class="ion-social-dribbble"></i></a></li>
                                                <li class="social-icon"><a href="index.html#"><i class="ion-social-linkedin"></i></a></li>
                                            </ul> 
                                        </div>
                                    </div>
                                </div>  
                            </div>  
                        </div> 
                        <div class="team">
                            <div class="team-container">
                                <div class="team-image">
                                    <img src="img/team/7.jpg" class="img-responsive" alt="#" />
                                </div> 
                                <div class="team-caption">
                                    <div>
                                        <div>
                                            <h4>Steven Griffin</h4>
                                            <p>Marketing Manager</p>
                                            <ul> 
                                                <li class="social-icon"><a href="index.html#"><i class="ion-social-facebook"></i></a></li>
                                                <li class="social-icon"><a href="index.html#"><i class="ion-social-twitter"></i></a></li>
                                                <li class="social-icon"><a href="index.html#"><i class="ion-social-youtube"></i></a></li>
                                                <li class="social-icon"><a href="index.html#"><i class="ion-social-dribbble"></i></a></li>
                                            </ul> 
                                        </div>
                                    </div>
                                </div>  
                            </div>  
                        </div> 
                    </div>
                        
                </div>  
            </div>
        </section>
        <!-- End Team -->  

        <!-- Skills -->
        <section class="parallax overlay bg-img-3">  
            <div class="container pt70 pb70">   
                <div class="row-flex-center">

                    <div class="col-md-5 text-left pr30 mt40 mb40 white">   
                        <h2>Our Skills</h2>   
                        <p>Fusce faucibus tincidunt nulla, tincidunt sagittis magna venenatis quis. Proin commodo eu ipsum eu suscipit. In dapibus arcu sit amet imperdiet. Praesent condimentum nulla at mauris ornare.</p>
                        <p>Praesent condimentum nulla at mauris ornare, eget consequat felis euismod. Praesent condimentum nulla at mauris ornare. Fusce faucibus tincidunt nulla, tincidunt sagittis magna</p> 
                    </div>

                    <div class="col-md-7 mt60 mb40 white">  
                        <div class="progress-bars-3">
                            <p>Branding</p>
                            <div class="progress white" data-percent="85%">
                                <div class="progress-bar">
                                    <span class="progress-bar-tooltip">85%</span>
                                </div>
                            </div>
                            <p>User Experience</p>
                            <div class="progress white" data-percent="100%">
                                <div class="progress-bar progress-bar-primary">
                                    <span class="progress-bar-tooltip">100%</span>
                                </div>
                            </div>
                            <p>Web Design</p>
                            <div class="progress white" data-percent="70%">
                                <div class="progress-bar progress-bar-primary">
                                    <span class="progress-bar-tooltip">70%</span>
                                </div>
                            </div>
                            <p>Fun</p>
                            <div class="progress white" data-percent="82%">
                                <div class="progress-bar progress-bar-primary">
                                    <span class="progress-bar-tooltip">82%</span>
                                </div>
                            </div>  
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- End Skills -->

        <!-- Fun Facts -->
        <section id="fun-facts" class="bg-dark">
            <div class="container-fluid"> 
                <div class="row">

                    <div class="col-sm-3 counter"> 
                        <h1>140</h1> 
                        <h5>Happy Customers</h5> 
                    </div>
                    <div class="col-sm-3 counter"> 
                        <h1>385</h1> 
                        <h5>Finished Projects</h5> 
                    </div>
                    <div class="col-sm-3 counter"> 
                        <h1>896</h1> 
                        <h5>Tickets Solved</h5> 
                    </div> 
                    <div class="col-sm-3 counter"> 
                        <h1>25</h1> 
                        <h5>Winning Awards</h5> 
                    </div>

                </div> 
            </div>
        </section>
        <!-- End Fun Facts -->  

        <!-- Portfolio -->
        <section class="p0">
            <div class="container-fluid">
                <div class="row">    

                    <div class="portfolio-no-gutter-fullwidth cbp" id="js-grid-no-gutter">

                        <div class="cbp-item print branding">
                            <a href="portfolio-project-carousel.html" class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="img/portfolio/grid/1.jpg" alt="#">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">Rewind Watch App</div>
                                            <div class="cbp-l-caption-desc">Branding, Graphic</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="cbp-item web-design graphic">
                            <a href="portfolio-project-carousel.html" class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="img/portfolio/grid/2.jpg" alt="#">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">Experience Pad UI</div>
                                            <div class="cbp-l-caption-desc">Web-design, Graphic</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="cbp-item print branding">
                            <a href="portfolio-project-carousel.html" class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="img/portfolio/grid/3.jpg" alt="#">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">PlayIt Disk Cover</div>
                                            <div class="cbp-l-caption-desc">Print, Branding</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="cbp-item print branding">
                            <a href="portfolio-project-carousel.html" class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="img/portfolio/grid/4.jpg" alt="#">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">Sketching Fun</div>
                                            <div class="cbp-l-caption-desc">Print, Branding</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div> 
                        <div class="cbp-item print graphic">
                            <a href="portfolio-project-carousel.html" class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="img/portfolio/grid/5.jpg" alt="#">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">Fabric Bag</div>
                                            <div class="cbp-l-caption-desc">Print, Graphic</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div> 
                        <div class="cbp-item print branding">
                            <a href="portfolio-project-carousel.html" class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="img/portfolio/grid/8.jpg" alt="#">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">Deer Wildfile</div>
                                            <div class="cbp-l-caption-desc">Print, Branding</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>  

                    </div> 

                </div>
            </div>
        </section>            
        <!-- End Portfolio -->   

        <!-- Features -->  
        <section class="pt110 pb80">
            <div class="container">                      
                <div class="row">

                    <div class="col-sm-4 feature-left">
                        <i class="icon-telescope size-3x color"></i>
                        <i class="icon-telescope back-icon"></i> 
                        <div class="feature-left-content">
                            <h5>Stunning Design</h5>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
                        </div> 
                    </div>
                    <div class="col-sm-4 feature-left">
                        <i class="icon-circle-compass size-3x color"></i>
                        <i class="icon-circle-compass back-icon"></i> 
                        <div class="feature-left-content">
                            <h5>Retina Optimized</h5>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p> 
                        </div> 
                    </div>
                    <div class="col-sm-4 feature-left">
                        <i class="icon-genius size-3x color"></i>
                        <i class="icon-genius back-icon"></i> 
                        <div class="feature-left-content">
                            <h5>Fast & Smooth</h5>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p> 
                        </div> 
                    </div> 

                </div>
            </div>
        </section>
        <!-- End Features -->     

        <!-- Testimonials -->   
        <section class="parallax overlay bg-img-5"> 
            <div class="container">
                <div class="row"> 

                    <div class="col-md-10 mr-auto">
                        <div class="testimonials white owl-carousel"> 

                            <div> 
                                <i class="vossen-quote color"></i>
                                <h4>This guys are amazing! They were so quick to respond and let me tell you, they are all knowing! I highly<br />recommend their themes! They are all about making their clients happy!</h4>  
                                <h5 class="subheading">Jack Westbrook</h5>
                                <p>Web Developer</p>
                            </div> 

                            <div>
                                <i class="vossen-quote color"></i>
                                <h4>I have purchased tens of templates from ThemeForest and this one is undoubtedly the best I ever tried.<br />Easy to edit, nicely coded. You guys, you did a great job here!</h4>  
                                <h5 class="subheading">Lindsay Swanson</h5>
                                <a href="index.html#">Wunderkind Inc</a>
                            </div> 

                            <div>
                                <i class="vossen-quote color"></i>
                                <h4>This is one of the best themes that I bought on ThemeForest. It is well documented and well coded but<br />the best of all is the friendly and quick support behind.</h4>  
                                <h5 class="subheading">Jared Jackson</h5>
                                <p>App Developer</p>
                            </div> 

                        </div>
                    </div> 

                </div>
            </div>
        </section>
        <!-- End Testimonials -->

        <!-- Clients Section -->
        <section class="pt70 pb70">
            <div class="container"> 
                <div class="row">	 

                    <div id="clients-slider-2" class="owl-carousel">
                        <div><img src="img/clients/1.png" class="img-responsive" alt="#"></div>  
                        <div><img src="img/clients/2.png" class="img-responsive" alt="#"></div> 
                        <div><img src="img/clients/3.png" class="img-responsive" alt="#"></div> 
                        <div><img src="img/clients/4.png" class="img-responsive" alt="#"></div> 
                        <div><img src="img/clients/5.png" class="img-responsive" alt="#"></div> 
                        <div><img src="img/clients/6.png" class="img-responsive" alt="#"></div> 
                        <div><img src="img/clients/7.png" class="img-responsive" alt="#"></div> 
                        <div><img src="img/clients/8.png" class="img-responsive" alt="#"></div> 
                        <div><img src="img/clients/9.png" class="img-responsive" alt="#"></div> 
                    </div>

                </div>
            </div>
        </section>
        <!-- End Clients -->    

